<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mwachira - the new design</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="pb-2 fixed-top" style="background: rgba(0,0,0,0.3);">
        <div id="top_div" class="col-12 d-flex justify-content-around fw-bold py-1 text-white mb-2"><span><span class="me-1">Address:</span><span>Lunzu, Blantyre, Malawi </span></span><span><span class="me-1">Phone Numbers:</span><span>+265 888 327 385<br></span></span></div>
        <div class="row px-2 px-lg-4 text-white">
            <div class="col-9 col-sm-10 col-lg-3"><a class="d-inline-flex" href="index.html"><img class="me-1" src="assets/img/logo.png" style="filter: invert(100%);"></a></div>
            <div class="col-lg-9 d-none d-lg-block">
                <div class="row">
                    <div class="col-8">
                        <ul class="list-unstyled d-inline-flex fw-bold fs-5 text-capitalize pt-1">
                            <li class="mx-2"><a href="index.html">Home</a></li>
                            <li class="mx-2"><a href="about.html">About</a></li>
                            <li class="mx-2"><a href="services.html">Services</a></li>
                            <li class="mx-2"><a href="clients.html">Clients</a></li>
                            <li class="mx-2"><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-4 text-end"><a class="btn btn-light fw-bold py-2 px-4" role="button" href="appointment.html" style="border-radius: 20px;">Appointment</a></div>
                </div>
            </div>
            <div class="col-3 col-sm-2 d-block d-lg-none pt-2">
                <div class="dropdown"><button class="btn dropdown-toggle fs-2 text-white" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-align-justify"></i></button>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                </div>
            </div>
        </div>
    </nav>
    <div class="text-center text-white" style="background: url(&quot;assets/img/breadcrumbs.jpg&quot;) center / cover no-repeat;padding-top: 30vh;padding-bottom: 10vh;">
        <h1 class="header">About the Clinic</h1>
    </div>
    <div class="section row py-5 px-2 px-lg-5 bg-white text-dark">
        <div class="p-2 col-md-6 px-4"><img src="assets/img/calendar.png"></div>
        <div class="py-3 col-md-6 px-4"><img src="assets/img/stopwatch-icon-150x150.png" style="max-width: 60px;">
            <h1 class="fw-bold py-4">#1 at reliability in terms of appointments</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies, ante et cursus eleifend, est risus commodo mi, eu commodo lacus ipsum quis est. Cras eget elementum augue, in pulvinar erat.</p><a class="btn btn-primary py-2 px-4" role="button" style="border-radius: 20px;">Set New Appointment</a>
        </div>
    </div>
    <div class="section py-5 px-2 px-lg-5 bg-white text-dark">
        <div class="text-center">
            <h1 class="header">Management</h1>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <p>A team of expert doctors that are leading our clinic! Meet our staff and visit us for your next problem!</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center py-5">
            <div class="col-sm-6 col-md-3 py-4 text-center"><img class="mb-3" src="assets/img/Clinika-Team01.jpg">
                <h4 class="fw-bold">Dr Antonio Irving</h4><span>Cardiologist</span>
            </div>
            <div class="col-sm-6 col-md-3 py-4 text-center"><img class="mb-3" src="assets/img/Clinika-Team2.jpg">
                <h4 class="fw-bold">Dr Antonio Irving</h4><span>Cardiologist</span>
            </div>
            <div class="col-sm-6 col-md-3 py-4 text-center"><img class="mb-3" src="assets/img/Clinika-member-3.jpg">
                <h4 class="fw-bold">Dr Antonio Irving</h4><span>Cardiologist</span>
            </div>
            <div class="col-sm-6 col-md-3 py-4 text-center"><img class="mb-3" src="assets/img/Clinika-member-5.jpg">
                <h4 class="fw-bold">Dr Antonio Irving</h4><span>Cardiologist</span>
            </div>
        </div>
        <div class="col-12 text-center py-4"><a class="btn btn-primary py-2 px-4" role="button" style="border-radius: 20px;">View All Doctors</a></div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>