<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mwachira - the new design</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="pb-2 fixed-top" style="background: rgba(0,0,0,0.3);">
        <div id="top_div" class="col-12 d-flex justify-content-around fw-bold py-1 text-white mb-2"><span><span class="me-1">Address:</span><span>Lunzu, Blantyre, Malawi </span></span><span><span class="me-1">Phone Numbers:</span><span>+265 888 327 385<br></span></span></div>
        <div class="row px-2 px-lg-4 text-white">
            <div class="col-9 col-sm-10 col-lg-3"><a class="d-inline-flex" href="index.html"><img class="me-1" src="assets/img/logo.png" style="filter: invert(100%);"></a></div>
            <div class="col-lg-9 d-none d-lg-block">
                <div class="row">
                    <div class="col-8">
                        <ul class="list-unstyled d-inline-flex fw-bold fs-5 text-capitalize pt-1">
                            <li class="mx-2"><a href="index.html">Home</a></li>
                            <li class="mx-2"><a href="about.html">About</a></li>
                            <li class="mx-2"><a href="services.html">Services</a></li>
                            <li class="mx-2"><a href="clients.html">Clients</a></li>
                            <li class="mx-2"><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-4 text-end"><a class="btn btn-light fw-bold py-2 px-4" role="button" href="appointment.html" style="border-radius: 20px;">Appointment</a></div>
                </div>
            </div>
            <div class="col-3 col-sm-2 d-block d-lg-none pt-2">
                <div class="dropdown"><button class="btn dropdown-toggle fs-2 text-white" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-align-justify"></i></button>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                </div>
            </div>
        </div>
    </nav>
    <div class="text-center text-white" style="background: url(&quot;assets/img/breadcrumbs.jpg&quot;);padding-top: 30vh;padding-bottom: 10vh;">
        <h1 class="header">Contact Us</h1>
    </div>
    <div class="section row py-5 px-2 px-lg-5 bg-white text-dark">
        <div class="col-md-6">
            <div class="row pb-5">
                <div class="col-md-6 d-flex py-4 px-2">
                    <div><i class="fas fa-phone-alt text-white text-center bg-primary me-3 p-4" style="border-radius: 50%;font-size: 30px;"></i></div><span class="d-flex flex-column"><span class="fw-bold">PHONE NUMBER</span><span>+265888327385</span></span>
                </div>
                <div class="col-md-6 d-flex py-4 px-2">
                    <div><i class="far fa-envelope text-white text-center bg-primary me-3 p-4" style="border-radius: 50%;font-size: 30px;"></i></div><span class="d-flex flex-column"><span class="fw-bold">EMAIL ADDRESS</span><span>contact@example.com</span></span>
                </div>
                <div class="col-md-6 d-flex py-4 px-2">
                    <div><i class="far fa-clock text-white text-center bg-primary me-3 p-4" style="border-radius: 50%;font-size: 30px;"></i></div><span class="d-flex flex-column"><span class="fw-bold">LOCATION</span><span>Lunzu, Blantyre</span></span>
                </div>
                <div class="col-md-6 d-flex py-4 px-2">
                    <div><i class="far fa-clock text-white text-center bg-primary me-3 p-4" style="border-radius: 50%;font-size: 30px;"></i></div><span class="d-flex flex-column"><span class="fw-bold">SCHEDULE</span><span>10:00 - 16:00 daily</span></span>
                </div>
            </div>
            <div><img src="assets/img/contact-768x417.png"></div>
        </div>
        <div class="col-md-6">
            <form class="px-4">
                <h4 class="text-center py-5 fw-bold">Send us a message</h4><input class="form-control mb-4 rounded-pill" type="text" name="name" placeholder="Full name" required=""><input class="form-control mb-4 rounded-pill" type="email" required="" name="email" placeholder="Email"><textarea class="form-control mb-4" gstyle="height: 20vh;border-radius: 20px;" style="border-radius: 20px;height: 30vh;" name="message" placeholder="Your Message" required=""></textarea>
                <div class="text-center"><button class="btn btn-primary rounded-circle p-4" type="submit"><i class="fab fa-telegram-plane fs-3"></i></button></div>
            </form>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>