<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mwachira - the new design</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="pb-2 fixed-top" style="background: rgba(0,0,0,0.3);">
        <div id="top_div" class="col-12 d-flex justify-content-around fw-bold py-1 text-white mb-2"><span><span class="me-1">Address:</span><span>Lunzu, Blantyre, Malawi </span></span><span><span class="me-1">Phone Numbers:</span><span>+265 888 327 385<br></span></span></div>
        <div class="row px-2 px-lg-4 text-white">
            <div class="col-9 col-sm-10 col-lg-3"><a class="d-inline-flex" href="index.html"><img class="me-1" src="assets/img/logo.png" style="filter: invert(100%);"></a></div>
            <div class="col-lg-9 d-none d-lg-block">
                <div class="row">
                    <div class="col-8">
                        <ul class="list-unstyled d-inline-flex fw-bold fs-5 text-capitalize pt-1">
                            <li class="mx-2"><a href="index.html">Home</a></li>
                            <li class="mx-2"><a href="about.html">About</a></li>
                            <li class="mx-2"><a href="services.html">Services</a></li>
                            <li class="mx-2"><a href="clients.html">Clients</a></li>
                            <li class="mx-2"><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-4 text-end"><a class="btn btn-light fw-bold py-2 px-4" role="button" href="appointment.html" style="border-radius: 20px;">Appointment</a></div>
                </div>
            </div>
            <div class="col-3 col-sm-2 d-block d-lg-none pt-2">
                <div class="dropdown"><button class="btn dropdown-toggle fs-2 text-white" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-align-justify"></i></button>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                </div>
            </div>
        </div>
    </nav>

    <div class="section row py-5 px-2 px-lg-4 text-white" style="background: url(&quot;assets/img/bg_slider.jpg&quot;) center / cover no-repeat, var(--bs-cyan);">
        <div class="col-md-6 text-center d-flex justify-content-center align-items-center align-content-center pt-5 pt-lg-0">
            <div class="text-start py-5 p-lg-0">
                <h1 class="header" style="font-size: 6vw;font-family: Jost, sans-serif;">Welcome To<br>Mwachira</h1>
                <p>We are the leading health care service provider in Lunzu township and surrounding communities.</p>
            </div>
        </div>
        <div class="col-md-6"><img src="assets/img/nurse_doctor_2-1.png"></div>
    </div>
    <div class="section row py-5 px-2 px-lg-5 bg-white text-dark">
        <div class="col-md-6"><img src="assets/img/home_img_wrap.png"></div>
        <div class="col-md-6">
            <h1 class="mb-4 header">Mwachira - Best Medical Clinic,Thousands of specialities for any type diagnostic.</h1>
            <p class="mb-4">Aenean volutpat, sem sit amet ullamcoer gravida, molestie risus enim nulla. Pellentesqu velit faucibus kodale dolor rhoncu. Curabituring laciniam efficitur porttitor. Predefined chuniks.</p><a class="btn btn-primary py-2 px-4" role="button" style="border-radius: 20px;">Browse through diagnostic</a>
        </div>
    </div>
    <div class="section row py-5 px-2 px-lg-5 bg-white text-dark">
        <div class="col-md-6">
            <h1 class="header">Specialized medical checkup tailored to the patient</h1>
            <div id="service_list" class="row">
                <div id="service-1" class="col-6 py-4"><img src="assets/img/Clinka-service-1.png" style="max-width: 60px;">
                    <h4 class="fw-bold">All medical facility</h4>
                    <p>Entreaties unpleasant sufficient few pianoforte discovered.</p>
                </div>
                <div id="service-2" class="col-6 py-4"><img src="assets/img/Clinka-service-2.png" style="max-width: 60px;">
                    <h4 class="fw-bold">Lowest fees in city</h4>
                    <p>May find some redeeming value with wait for it, dummy copy.</p>
                </div>
                <div id="service-3" class="col-6 py-4"><img src="assets/img/Clinika-service-3.png" style="max-width: 60px;">
                    <h4 class="fw-bold">Experienced Doctor</h4>
                    <p>A client that’s unhappy for ants reason is problem is worse.</p>
                </div>
                <div id="service-4" class="col-6 py-4"><img src="assets/img/Clinka-service-4.png" style="max-width: 60px;">
                    <h4 class="fw-bold">5000+ Happy Patient</h4>
                    <p>Even if your less into design and more in content strategy.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6"><img src="assets/img/Clinika-bebeftis-image-1-768x801.png"></div>
    </div>
    <div class="section row py-5 px-2 px-lg-5 bg-white text-dark">
        <div class="col-12 text-center">
            <h1 class="header mb-4">Specialities available at Clinika</h1>
            <p>Donec pulvinar, eros quis convallis vestibulum, neque turpis iaculis mi, in ultrices nisl magna ut leo.</p>
        </div>
        <div class="px-2 px-lg-5">
            <div style="border-radius: 10px;overflow: hidden;">
                <ul class="list-unstyled service_list row py-0 px-0 justify-content-center" role="tablist">
                    <li class="nav-item col-sm-6 col-md-3 p-0" data-bs-toggle="tab" data-bs-target="#Cardiology_tab">
                        <div class="active service text-center py-4"><img class="mb-2" src="assets/img/icon1.png" style="max-height: 50px;">
                            <h5>Cardiology</h5>
                        </div>
                    </li>
                    <li class="nav-item col-sm-6 col-md-3 p-0" data-bs-toggle="tab" data-bs-target="#Stomatology_tab">
                        <div class="service text-center py-4"><img class="mb-2" src="assets/img/icon2-500x450.png" style="max-height: 50px;">
                            <h5>Stomatology</h5>
                        </div>
                    </li>
                    <li class="nav-item col-sm-6 col-md-3 p-0" data-bs-toggle="tab" data-bs-target="#Radiology_tab">
                        <div class="service text-center py-4"><img class="mb-2" src="assets/img/icon3.png" style="max-height: 50px;">
                            <h5>Radiology</h5>
                        </div>
                    </li>
                    <li class="nav-item col-sm-6 col-md-3 p-0" data-bs-toggle="tab" data-bs-target="#Neurology_tab">
                        <div class="service text-center py-4"><img class="mb-2" src="assets/img/icon4.png" style="max-height: 50px;">
                            <h5>Neurology</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="Cardiology_tab" class="tab-pane fade show active">
                <div class="row py-5 px-2 px-lg-4 bg-white">
                    <div class="col-md-6"><img src="assets/img/cardiology.jpg"></div>
                    <div class="col-md-6">
                        <h3 class="fw-bold mb-4" para="">Cardiology</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non leo nunc. Vivamus lacinia massa nec sem sagittis, quis consequat augue rhoncus. Phasellus varius quam quis ligula congue, eu aliquam eros feugiat. Integer bibendum mauris euismod ex cursus, in facilisis.</p><a class="btn btn-primary py-2 px-4" role="button" style="border-radius: 20px;">View Service</a>
                    </div>
                </div>
            </div>
            <div id="Stomatology_tab" class="tab-pane fade show">
                <div class="row py-5 px-2 px-lg-4 bg-white">
                    <div class="col-md-6"><img src="assets/img/stomatology.png"></div>
                    <div class="col-md-6">
                        <h3 class="fw-bold mb-4" para="">Stomatology</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non leo nunc. Vivamus lacinia massa nec sem sagittis, quis consequat augue rhoncus. Phasellus varius quam quis ligula congue, eu aliquam eros feugiat. Integer bibendum mauris euismod ex cursus, in facilisis.</p><a class="btn btn-primary py-2 px-4" role="button" style="border-radius: 20px;">View Service</a>
                    </div>
                </div>
            </div>
            <div id="Radiology_tab" class="tab-pane fade show">
                <div class="row py-5 px-2 px-lg-4 bg-white">
                    <div class="col-md-6"><img src="assets/img/radiology_clinika.png"></div>
                    <div class="col-md-6">
                        <h3 class="fw-bold mb-4" para="">Radiology</h3>
                        <p>Duis porttitor, turpis sollicitudin maximus bibendum, eros sapien feugiat magna, id interdum ex justo ut dolor. Nulla facilisis urna sed ipsum euismod porta. Cras maximus commodo purus, eget accumsan purus. Integer semper massa nec lectus blandit malesuada.</p><a class="btn btn-primary py-2 px-4" role="button" style="border-radius: 20px;">View Service</a>
                    </div>
                </div>
            </div>
            <div id="Neurology_tab" class="tab-pane fade show">
                <div class="row py-5 px-2 px-lg-4 bg-white">
                    <div class="col-md-6"><img src="assets/img/neurology.png"></div>
                    <div class="col-md-6">
                        <h3 class="fw-bold mb-4" para="">Neurology</h3>
                        <p>Nam elit lacus, vulputate vitae libero eu, ullamcorper volutpat velit. Maecenas vulputate mollis tortor, a sollicitudin sapien condimentum quis. Duis sed condimentum quam, ut tempus ligula. Maecenas sit amet erat vel mi ornare malesuada eu at orci. Pellentesque at diam quis elit blandit varius.</p><a class="btn btn-primary py-2 px-4" role="button" style="border-radius: 20px;">View Service</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section row py-5 px-2 px-lg-5 bg-white text-white" style="background: url(&quot;assets/img/Clinika-Service_bg-scaled.jpg&quot;) center / cover no-repeat;">
        <div class="col-12 text-center pb-5">
            <h1 class="header mb-4">Services Provided By Mwachira</h1>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <p>A team of expert doctors that are leading our clinic! Meet our staff and visit us for your next problem!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-4 overflow-hidden">
            <div class="bg-white text-dark text-center py-5 px-5" style="border-radius: 20px;"><img class="mb-2" src="assets/img/clinika_medical-500x.png" style="max-width: 96px;">
                <h4 class="text-capitalize fw-bold">Blood Tests</h4>
                <p>Bring to the table win-win survival strategies to ...</p>
            </div>
        </div>
        <div class="col-md-4 py-4 overflow-hidden">
            <div class="bg-white text-dark text-center py-5 px-5" style="border-radius: 20px;"><img class="mb-2" src="assets/img/Teeth-Whitening-500x.png" style="max-width: 96px;">
                <h4 class="text-capitalize fw-bold">Teeth Whitening</h4>
                <p>Capitalize on low hanging fruit to identify a ...</p>
            </div>
        </div>
        <div class="col-md-4 py-4 overflow-hidden">
            <div class="bg-white text-dark text-center py-5 px-5" style="border-radius: 20px;"><img class="mb-2" src="assets/img/STD_Examination-500x500.png" style="max-width: 96px;">
                <h4 class="text-capitalize fw-bold">Blood Tests</h4>
                <p>Taking seamless key indicators to the long tail. .</p>
            </div>
        </div>
        <div class="col-12 text-center py-5"><a class="btn btn-primary py-2 px-4" role="button" style="border-radius: 20px;">View All Service</a></div>
    </div>
    <div class="section py-5 px-2 px-lg-5 bg-white text-dark">
        <div class="text-center">
            <h1 class="header">Our experienced doctors</h1>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <p>A team of expert doctors that are leading our clinic! Meet our staff and visit us for your next problem!</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center py-5">
            <div class="col-sm-6 col-md-3 py-4 text-center"><img class="mb-3" src="assets/img/Clinika-Team01.jpg">
                <h4 class="fw-bold">Dr Antonio Irving</h4><span>Cardiologist</span>
            </div>
            <div class="col-sm-6 col-md-3 py-4 text-center"><img class="mb-3" src="assets/img/Clinika-Team2.jpg">
                <h4 class="fw-bold">Dr Antonio Irving</h4><span>Cardiologist</span>
            </div>
            <div class="col-sm-6 col-md-3 py-4 text-center"><img class="mb-3" src="assets/img/Clinika-member-3.jpg">
                <h4 class="fw-bold">Dr Antonio Irving</h4><span>Cardiologist</span>
            </div>
            <div class="col-sm-6 col-md-3 py-4 text-center"><img class="mb-3" src="assets/img/Clinika-member-5.jpg">
                <h4 class="fw-bold">Dr Antonio Irving</h4><span>Cardiologist</span>
            </div>
        </div>
        <div class="col-12 text-center py-4"><a class="btn btn-primary py-2 px-4" role="button" style="border-radius: 20px;">View All Doctors</a></div>
    </div>

    <footer class="row pt-5 pb-2 px-2 px-lg-5 bg-white text-white" style="background: url(&quot;assets/img/Clinika-Service_bg-scaled.jpg&quot;) center / cover no-repeat;">
        <div class="col-sm-6 col-md-3">
            <p>We are the leading health care service provider in Lunzu township and surrounding communities.</p>
        </div>
        <div class="col-sm-6 col-md-3">
            <h4 class="mb-4 fw-bold">Quick Links</h4>
            <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Our Clients</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3">
            <h4 class="mb-4 fw-bold">Contact Us</h4>
            <ul class="list-unstyled fs-5">
                <li><i class="fas fa-map-marker-alt me-2"></i><span>Lunzu, Blantyre</span></li>
                <li><i class="fas fa-phone-alt me-2"></i><span>+265888327385</span></li>
                <li><i class="fas fa-envelope me-2"></i><span>mwachira@gmail.com</span></li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3"></div>
        <div class="col-12 d-flex justify-content-between mt-5"><img src="assets/img/logo.png" style="filter: invert(100%);max-width: 20vw;"><span class="float-end">2023 © Mwachira by <a href="https:\\www.xerxes-inc.com">Xerxes Inc</a>. All rights Reserved.</span></div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
