<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mwachira - the new design</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="pb-2 fixed-top" style="background: rgba(0,0,0,0.3);">
        <div id="top_div" class="col-12 d-flex justify-content-around fw-bold py-1 text-white mb-2"><span><span class="me-1">Address:</span><span>Lunzu, Blantyre, Malawi </span></span><span><span class="me-1">Phone Numbers:</span><span>+265 888 327 385<br></span></span></div>
        <div class="row px-2 px-lg-4 text-white">
            <div class="col-9 col-sm-10 col-lg-3"><a class="d-inline-flex" href="index.html"><img class="me-1" src="assets/img/logo.png" style="filter: invert(100%);"></a></div>
            <div class="col-lg-9 d-none d-lg-block">
                <div class="row">
                    <div class="col-8">
                        <ul class="list-unstyled d-inline-flex fw-bold fs-5 text-capitalize pt-1">
                            <li class="mx-2"><a href="index.html">Home</a></li>
                            <li class="mx-2"><a href="about.html">About</a></li>
                            <li class="mx-2"><a href="services.html">Services</a></li>
                            <li class="mx-2"><a href="clients.html">Clients</a></li>
                            <li class="mx-2"><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-4 text-end"><a class="btn btn-light fw-bold py-2 px-4" role="button" href="appointment.html" style="border-radius: 20px;">Appointment</a></div>
                </div>
            </div>
            <div class="col-3 col-sm-2 d-block d-lg-none pt-2">
                <div class="dropdown"><button class="btn dropdown-toggle fs-2 text-white" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-align-justify"></i></button>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                </div>
            </div>
        </div>
    </nav>
    <div class="text-center text-white" style="background: url(&quot;assets/img/breadcrumbs.jpg&quot;);padding-top: 30vh;padding-bottom: 10vh;">
        <h1 class="header">Services</h1>
    </div>
    <div class="section py-4 px-2 px-lg-5 bg-white text-dark">
        <div class="col-12 text-center">
            <h1 class="header mb-4">Services Provided By Mwachira</h1>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <p>Here is a list of services provided by mwachira</p>
                </div>
            </div>
        </div>
        <div id="service_list" class="row">
            <div class="col-md-4 py-4 overflow-hidden">
                <div class="bg-white text-dark text-center py-5 px-5" style="box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);border-radius: 20px;"><img class="mb-2" src="assets/img/clinika_medical-500x.png" style="max-width: 96px;">
                    <h4 class="text-capitalize fw-bold">Blood Tests</h4>
                    <p>Bring to the table win-win survival strategies to ...</p>
                </div>
            </div>
            <div class="col-md-4 py-4 overflow-hidden">
                <div class="bg-white text-dark text-center py-5 px-5" style="border-radius: 20px;box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);"><img class="mb-2" src="assets/img/Teeth-Whitening-500x.png" style="max-width: 96px;">
                    <h4 class="text-capitalize fw-bold">Teeth Whitening</h4>
                    <p>Capitalize on low hanging fruit to identify a ...</p>
                </div>
            </div>
            <div class="col-md-4 py-4 overflow-hidden">
                <div class="bg-white text-dark text-center py-5 px-5" style="border-radius: 20px;box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);"><img class="mb-2" src="assets/img/STD_Examination-500x500.png" style="max-width: 96px;">
                    <h4 class="text-capitalize fw-bold">Blood Tests</h4>
                    <p>Taking seamless key indicators to the long tail. .</p>
                </div>
            </div>
            <div class="col-md-4 py-4 overflow-hidden">
                <div class="bg-white text-dark text-center py-5 px-5" style="border-radius: 20px;box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);"><img class="mb-2" src="assets/img/clinika_medical-500x.png" style="max-width: 96px;">
                    <h4 class="text-capitalize fw-bold">Blood Tests</h4>
                    <p>Bring to the table win-win survival strategies to ...</p>
                </div>
            </div>
            <div class="col-md-4 py-4 overflow-hidden">
                <div class="bg-white text-dark text-center py-5 px-5" style="border-radius: 20px;box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);"><img class="mb-2" src="assets/img/Teeth-Whitening-500x.png" style="max-width: 96px;">
                    <h4 class="text-capitalize fw-bold">Teeth Whitening</h4>
                    <p>Capitalize on low hanging fruit to identify a ...</p>
                </div>
            </div>
            <div class="col-md-4 py-4 overflow-hidden">
                <div class="bg-white text-dark text-center py-5 px-5" style="border-radius: 20px;box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);"><img class="mb-2" src="assets/img/STD_Examination-500x500.png" style="max-width: 96px;">
                    <h4 class="text-capitalize fw-bold">Blood Tests</h4>
                    <p>Taking seamless key indicators to the long tail. .</p>
                </div>
            </div>
            <div class="col-md-4 py-4 overflow-hidden">
                <div class="bg-white text-dark text-center py-5 px-5" style="border-radius: 20px;box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);"><img class="mb-2" src="assets/img/clinika_medical-500x.png" style="max-width: 96px;">
                    <h4 class="text-capitalize fw-bold">Blood Tests</h4>
                    <p>Bring to the table win-win survival strategies to ...</p>
                </div>
            </div>
            <div class="col-md-4 py-4 overflow-hidden">
                <div class="bg-white text-dark text-center py-5 px-5" style="border-radius: 20px;box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);"><img class="mb-2" src="assets/img/Teeth-Whitening-500x.png" style="max-width: 96px;">
                    <h4 class="text-capitalize fw-bold">Teeth Whitening</h4>
                    <p>Capitalize on low hanging fruit to identify a ...</p>
                </div>
            </div>
            <div class="col-md-4 py-4 overflow-hidden">
                <div class="bg-white text-dark text-center py-5 px-5" style="border-radius: 20px;box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);"><img class="mb-2" src="assets/img/STD_Examination-500x500.png" style="max-width: 96px;">
                    <h4 class="text-capitalize fw-bold">Blood Tests</h4>
                    <p>Taking seamless key indicators to the long tail. .</p>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>